.multiLanguageBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 0.4rem;
  font-size: larger;
  background-color: rgba(89, 65, 169, 0.15);
  border-radius: 0.75rem;
  filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.6));
  padding: 0.4rem 0.4rem;
}
.multiLanguageBtn:active {
  border-color: var(--redHover);
}

.rotate {
  transform: rotate(270deg);
}
/* section dropdown  */
.dropDown {
  color: silver;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  outline: none;
  border: none;
  border-radius: 0.8rem;
  z-index: 30;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 5000ms; 
}

.buttonWrapper{
  display: flex;
  width: 8rem;
  justify-content: space-between;
  padding: 2px 2px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid silver;
  border-radius: 0.75rem;
}

.tick{
  display: none;
}

.tickActive{
  display: inline;
  margin-top: 1.5px;
  transform: rotate(10deg);
}

.languageButton {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

.languageButton:active{
  color: rgba(255, 255, 255, 0.9);
}

.languageSelectedColor, .tickActive{
  color: var(--redHover);
  opacity: 0.8;
}

.buttonWrapper:hover {
  color: var(--redHover);
  background-color: rgba(255, 255, 255, 0.5);
}

.buttonWrapper:active {
  border-color: var(--redHover);
}
