.topLeftPic{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    mix-blend-mode: color-dodge;
    z-index: 10;
    opacity: 0.5;
    width: 20rem;
}

/* laptop xl */
@media (min-width: 1200px) {
    .topLeftPic {
        width: 40rem;
    }
  }